<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      function fetchMostRecentData() {
        fetch('/data')
        .then((response) => {
          response.json()
          .then((data) => {
            console.log(data, 'DATA RECIEVED');
            var chatHTML = '';
            for (var i = 0; i < data.length; i++) {
              chatHTML += '<div class = "container"><b>' + data[i].author + '</b>' + ' : ' + data[i].message + '</div>';
              console.log(data[i]);
              continue;
            }

            var container = document.getElementById('chatroom');
            container.innerHTML = chatHTML;
            container.scrollTop = container.scrollHeight;
          })
        });
        return;
      }

      function messageSentCallback() {
        setTimeout(() => {
          message_box = document.getElementById('message_box');
          message_box.value = '';
          return;
        }, 5000);
        return;
      }

      // call fetchMostRecentData once every 10s
      setInterval(fetchMostRecentData, 1000);
    </script>
  </head>
  <body>
    <h1>Adi-Chat</h1>
    <p>Welcome to AdiChat</p>
    <div class = "chatroom" id = "chatroom" style = "overflow:scroll; height:400px;">
      <% chats.forEach(function(chat){ %>
        <div class = "container"><b><%= chat.author %></b> : <%= chat.message %></div>
      <% }) %>
    </div>
    <form method = "post" action = "./">
      Name: <input name = "author_box" type="text">
      <br><br>
      <input id = "message_box" name = "message_box" type="text"><br>
      <input id = "submit_button" type = "submit" value = "[SEND]" onclick = "messageSentCallback();">
  </form>
  </body>
</html>
